.AddImgWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 2px dotted black;
  width: 100%;
  height: 230px;
  cursor: pointer;
}
.AddImgWrapper span {
  font-size: 1.5rem;
}
.icon {
  font-size: 2rem;
}
